body {
    font-family: 'Trebuchet MS', sans-serif;
}


table, td, th {  
    border: 1px solid;
    text-align: left;
}
  
table {
    border-collapse: collapse;
    width: 40%;
}

th {
    background-color: #d4d3d3;
    padding: 15px;
}

h1 {
    background-color: #ff8c00;
}
  
tr, td {
    background-color: #ffffff;
    border-width: 2px;
    border-color: black;
    padding: 10px
}

.center-text {
    text-align: center;
    justify-content: center;
}

.center-table {
    margin-left: auto;
    margin-right: auto;
}

img{
    position: absolute;
    height: auto;
    width: 100%;
    opacity: 45%;   
    z-index: -1;
}